@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Oswald:wght@200..700&family=Work+Sans&display=swap');

body{
    font-family: 'DM Sans', sans-serif;
    background-color: #f4dfc1;
    color:black;
    font-size: 16px;
    line-height: 1.7;
    font-weight: 300;
}
header{
    background:rgba (247,245,242,0.92);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #e2ddd6;
    position: sticky;
    top: 0;
}
nav{
    max-width: 11000PX;
    margin: 0 auto;
    padding: 1.2rem 2rem;
    display: flex;
    align-items: center;
    gap: 2.5rem;  
}
nav a{
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0.4;
    color: #dc324e00;
    transition: color 0.3s ease;
    text-transform: uppercase;
}
.logo{
    margin-right: auto;
}
.logo img{
    height: 36px;
    width: auto;
}


nav a:hover{
    color: #c8824a;
} 
.nav-contact-btn{
    padding: 0.6rem 1.1rem;
    border: 1px solid #1a1814;
    border-radius: 999px;
    color: #fff;
    background-color:#1a1814;
    line-height: 1;
    transition: background 0.2s ease, color 0.2s ease, transform 0.1s ease;
} 
.nav-contact-btn:hover{
    background: #c8824a;
    color: #fff;
    border-color: #c8824a;
    transform: translateY(-1px);
}

    .nav-home-btn{
    padding: 0.6rem 1.1rem;
    border: 1px solid #1a1814;
    border-radius: 999px;
    color: #fff;
    background-color:#1a1814;
    line-height: 1;
    transition: background 0.2s ease, color 0.2s ease, transform 0.1s ease;
}   
.nav-home-btn:hover{
    background: #c8824a;
    color: #fff;
    border-color: #c8824a;
    transform: translateY(-1px);
}

.nav-about-btn{
    padding: 0.6rem 1.1rem;
    border: 1px solid #1a1814;
    border-radius: 999px;
    color: #fff;
    background-color:#1a1814;
    line-height: 1;
    transition: background 0.2s ease, color 0.2s ease, transform 0.1s ease;
}

.nav-about-btn:hover{
    background: #c8824a;
    color: #fff;
    border-color: #c8824a;
    transform: translateY(-1px);
}

main{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2rem;

}
section{
    padding: 6rem 0;
    border-bottom: 1px solid #e2ddd6;
}
h2{
    font-family: 'DM Serif Display' serif;
    font-size:clamp(2 rem, 4vw, 3rem);
    font-weight: 900;
    line-height: 1.4;
    color:#221501;
    margin-bottom: 1.5rem;   

}
h3{
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: normal;
    text-transform: uppercase;
    color: #0c0b0c;
    margin-bottom:1rem;
}






